.contentContainer {
  display: flex;
  border: 1px solid #bbb;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 2em;
}

.contentItem {
  width: 50%;
}

.info {
  font-size: 1.1rem;
}
.inputContainer {
  width: 5rem;
  margin-left: auto;
}
.label {
  text-align: center;
  width: 100%;
}
