.container {
  max-width: 450px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 1em 1.2em;
}

.bottomrow {
  display: flex;
  flex-direction: column;
  margin-top: 1.3em;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
}
